In [3]:
import numpy as np
import pandas as pd
import random
import tensorflow as tf

from matplotlib import pyplot as plt

In [4]:
data = pd.read_csv('data/Salary_Data.csv')

In [9]:
print(data.head())
data.tail()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

 
在這個例子中，我們會將年資當作 features，薪水當作 y，<br>
但是這時候會發現一個問題，即是資料級距過大，薪水的標準差高達 26953，因此在做線性回歸時，容易造成梯度爆炸(Exploding Gradients)的問題。<br>


線性回歸的目標是讓均方誤差 (MSE) 的值趨近於 0，如果參數的初始值設定得不好，均方誤差的結果將會高達 2695³²，因此要讓模型收斂是一件很困難的事情。

解決梯度爆炸的問題，其中一個解決的辦法是特徵標準化，<br>
什麼是特徵標準化呢？特徵標準化是讓特徵的值縮放到極小的範圍中，例如在這裡就將特徵縮放到 0 ~ 1 之間，因此均方誤差的值很容易就能落在 0 ~ 1 之間，藉此預防梯度爆炸。

In [18]:
#讀取features並標準化
features=data['YearsExperience']
max_features,min_features=max(features),min(features)
features=(features-min_features)/(max_features-min_features)
features.head()

0    0.000000
1    0.021277
2    0.042553
3    0.095745
4    0.117021
Name: YearsExperience, dtype: float64

In [20]:
labels=data['Salary']
max_labels,min_labels=max(labels),min(labels)
labels=(labels-min_labels)/(max_labels-min_labels)

In [21]:
# 定義超參數
batch_size = 10
learning_rate = 0.03
epochs = 100
num_inputs = 1
num_examples = len(features)

In [ ]:
#定義模型
x=tf.placeholder(shape(None,num_inputs),dtype=tf.float32)
y=tf.placeholder(shape(None,1),dtype=tf.float32)

w = tf.Variable([[0.1]], dtype=tf.float32)
b = tf.Variable(np.zeros(shape=(1,)), dtype=tf.float32)
y_hat = tf.add(tf.matmul(x, w), b)