In [3]:
import numpy as np
import pandas as pd
import random
import tensorflow as tf

from matplotlib import pyplot as plt

In [4]:
data = pd.read_csv('data/Salary_Data.csv')

In [5]:
data.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
這份資料用年資(YearsExperience)當feature，薪水(Salary)當y